* {
    box-sizing: border-box;
}

body{
    background-color: #008080;
    margin: 0;
}

header h1 {
    text-align: center;
}

article {
    font-family: 'Times New Roman', Times, serif;
}

section img {
    border-radius: 50% 50%;
    max-width: 250px;
    height: 250px;
}

.profile {
    float: left;
    width: 40%;
    margin-left: 15%;
}

aside.introduction {
    float: left;
    width: 40%;
    color: #fbfcda;
    font-weight: bold;
    margin-right: 50px;
}

hr.profile_division {
    display: block;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fbfcda;
}

aside {
    text-align: left;
    width: 50%;
}

.clearfixing {
    clear: both;
}

footer {
    background-color: #0e5c5c;
    padding: 8px;
    text-align: center;
}